*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darker: rgba(0, 0, 0, 0.8);
  --grey: rgba(83, 82, 82, 0.6);
  --lightgrey: rgba(160, 160, 160, 0.6);
  --white: rgba(255, 255, 255, 1);
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--grey);
}

.hidden {
  display: none;
}

