@import "../App.css";
@import "Form.css";

.personalInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  border: 1px solid black;
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  background: var(--grey);
  color: white;
}

.photoPrompt:hover {
  background: var(--lightgrey);
  color: black;
}
